#reviewDiv {
    margin-bottom: 12px;
    /* margin-left: 50px; */
}

#foundationofwealthImg {
    width: 200px;
    border-radius: 35px;
}

#artandcultureImgDiv {
    /* margin-left: 50px; */
}

#artandcultureImg {
    width: 210px;
    border-radius: 35px;
    margin-bottom: 13px;
}

#art-museum-div {
    margin-right: -60px;
}