/* Paras that contain the heading and the content will lie down */

#paraHeadingDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
}

.BoldPara {
  font-size: 20px;
  font-weight: 620;
}

.lightPara {
  font-weight: 200;
}

/* Content  */

#ContentDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#Day {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

#PlaceToVisit {
  margin-left: 48px;
}


#reversePrint {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: -42px;
}

#max-min-app-size {
  padding: 10px;
  border-radius: 30px;
  border: none;
  background-color: #F0EFFC;
  color: #7768EF;
  font-weight: 550;
}

/*
  margin-top: calc(1 * -72px - (0 * 44px));
  1 * -72 - (0*44);
  2 * -72 - (1*44);
  3 * -72 - (2*44);
*/



 /* body {
  background-color: #E3E8ED;
} */